In [1]:
import pandas as pd 
import numpy as np
import warnings
warnings.filterwarnings("ignore")

In [2]:
data=pd.read_csv("daily_weather.csv")
data.head()

,number,air_pressure_9am,air_temp_9am,avg_wind_direction_9am,avg_wind_speed_9am,max_wind_direction_9am,max_wind_speed_9am,rain_accumulation_9am,rain_duration_9am,relative_humidity_9am,relative_humidity_3pm
0,0,918.060000,74.822000,271.100000,2.080354,295.400000,2.863283,0.0,0.0,42.420000,36.160000
1,1,917.347688,71.403843,101.935179,2.443009,140.471549,3.533324,0.0,0.0,24.328697,19.426597
2,2,923.040000,60.638000,51.000000,17.067852,63.700000,22.100967,0.0,20.0,8.900000,14.460000
3,3,920.502751,70.138895,198.832133,4.337363,211.203341,5.190045,0.0,0.0,12.189102,12.742547
4,4,921.160000,44.294000,277.800000,1.856660,136.500000,2.863283,8.9,14730.0,92.410000,76.740000

In [3]:
data.shape
#rows = 1095 col=11

(199, 11)

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 199 entries, 0 to 198
Data columns (total 11 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   number                  199 non-null    int64
 1   air_pressure_9am        199 non-null    float64
 2   air_temp_9am            197 non-null    float64
 3   avg_wind_direction_9am  199 non-null    float64
 4   avg_wind_speed_9am      199 non-null    float64
 5   max_wind_direction_9am  199 non-null    float64
 6   max_wind_speed_9am      198 non-null    float64
 7   rain_accumulation_9am   199 non-null    float64
 8   rain_duration_9am       199 non-null    float64
 9   relative_humidity_9am   199 non-null    float64
 10  relative_humidity_3pm   199 non-null    float64
dtypes: float64(10), int64(1)
memory usage: 17.2 KB

In [5]:
#find missing value
data.isna().sum()

number                    0
air_pressure_9am          0
air_temp_9am              2
avg_wind_direction_9am    0
avg_wind_speed_9am        0
max_wind_direction_9am    0
max_wind_speed_9am        1
rain_accumulation_9am     0
rain_duration_9am         0
relative_humidity_9am     0
relative_humidity_3pm     0
dtype: int64

In [6]:
data.columns

Index(['number', 'air_pressure_9am', 'air_temp_9am', 'avg_wind_direction_9am',
       'avg_wind_speed_9am', 'max_wind_direction_9am', 'max_wind_speed_9am',
       'rain_accumulation_9am', 'rain_duration_9am', 'relative_humidity_9am',
       'relative_humidity_3pm'],
      dtype='object')

In [7]:
col_missing_value=['air_pressure_9am', 'air_temp_9am', 'avg_wind_direction_9am',
       'avg_wind_speed_9am', 'max_wind_direction_9am', 'max_wind_speed_9am',
       'rain_accumulation_9am', 'rain_duration_9am']

In [8]:
for col in col_missing_value:
    md=data[col].median()
    print(f"median value in {md} of column is {col}")
    data.fillna({col:md},inplace=True)

median value in 918.9 of column is air_pressure_9am
median value in 65.89729045 of column is air_temp_9am
median value in 170.2 of column is avg_wind_direction_9am
median value in 3.6014734 of column is avg_wind_speed_9am
median value in 184.5 of column is max_wind_direction_9am
median value in 4.756604261 of column is max_wind_speed_9am
median value in 0.0 of column is rain_accumulation_9am
median value in 0.0 of column is rain_duration_9am

In [9]:
data.isna().sum()

number                    0
air_pressure_9am          0
air_temp_9am              0
avg_wind_direction_9am    0
avg_wind_speed_9am        0
max_wind_direction_9am    0
max_wind_speed_9am        0
rain_accumulation_9am     0
rain_duration_9am         0
relative_humidity_9am     0
relative_humidity_3pm     0
dtype: int64

In [10]:
x=data.drop(["number","relative_humidity_3pm"],axis=1)
x.head()

,air_pressure_9am,air_temp_9am,avg_wind_direction_9am,avg_wind_speed_9am,max_wind_direction_9am,max_wind_speed_9am,rain_accumulation_9am,rain_duration_9am,relative_humidity_9am
0,918.060000,74.822000,271.100000,2.080354,295.400000,2.863283,0.0,0.0,42.420000
1,917.347688,71.403843,101.935179,2.443009,140.471549,3.533324,0.0,0.0,24.328697
2,923.040000,60.638000,51.000000,17.067852,63.700000,22.100967,0.0,20.0,8.900000
3,920.502751,70.138895,198.832133,4.337363,211.203341,5.190045,0.0,0.0,12.189102
4,921.160000,44.294000,277.800000,1.856660,136.500000,2.863283,8.9,14730.0,92.410000

In [11]:
y=data["relative_humidity_3pm"]
y

0      36.160000
1      19.426597
2      14.460000
3      12.742547
4      76.740000
         ...
194    70.320000
195    18.272918
196    54.370000
197    14.610000
198    19.606938
Name: relative_humidity_3pm, Length: 199, dtype: float64

In [12]:
from sklearn.model_selection import train_test_split

In [13]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=3243287,shuffle=True)
print(f"x_train{x_train.shape}")
print(f"y_train{y_train.shape}")
print(f"x_test{x_test.shape}")
print(f"y_test{y_test.shape}")

x_train(159, 9)
y_train(159,)
x_test(40, 9)
y_test(40,)

In [14]:
from sklearn.tree import DecisionTreeRegressor

In [16]:
dtr=DecisionTreeRegressor()
#train model
dtr.fit(x_train,y_train)
# evaluate model
y_pred=dtr.predict(x_test)
y_pred

array([43.63      ,  9.6644229 , 22.18990678, 19.68      , 29.09      ,
       20.71      , 65.04      , 46.5       , 90.99      , 55.57      ,
       24.03      , 16.45      , 47.16      , 35.18      , 64.88      ,
       17.28116117, 51.19      , 31.97      , 52.05      , 35.52      ,
       29.09      , 54.5       , 83.17      , 35.69      , 29.09      ,
       90.58      , 14.24      , 17.42827468, 64.52      , 17.42827468,
       14.54      , 19.04826571, 26.94      , 17.4       , 15.84956394,
       12.69854598, 69.19      , 54.5       , 14.46      , 29.09      ])

In [17]:
from sklearn.metrics import mean_squared_error
from math import sqrt

In [18]:
rmse=sqrt(mean_squared_error(y_test,y_pred))
rmse

14.696439375289689

In [19]:
from sklearn.metrics import r2_score
r_squere=r2_score(y_test,y_pred)
r_squere

0.6200129637784766

In [22]:
from sklearn.tree import export_graphviz
import pydotplus
from IPython.display import Image
dot_tree=export_graphviz(decision_tree=dtr,
                        filled=True,
                        rounded=True,
                        special_characters=True )
graph=pydotplus.graph_from_dot_data(dot_tree)
Image(graph.create_png())

ModuleNotFoundError: No module named 'pydotplus'

In [23]:
x_test.columns

Index(['air_pressure_9am', 'air_temp_9am', 'avg_wind_direction_9am',
       'avg_wind_speed_9am', 'max_wind_direction_9am', 'max_wind_speed_9am',
       'rain_accumulation_9am', 'rain_duration_9am', 'relative_humidity_9am'],
      dtype='object')

In [24]:
x_test.describe(())

,air_pressure_9am,air_temp_9am,avg_wind_direction_9am,avg_wind_speed_9am,max_wind_direction_9am,max_wind_speed_9am,rain_accumulation_9am,rain_duration_9am,relative_humidity_9am
count,40.000000,40.000000,40.000000,40.000000,40.000000,40.000000,40.000000,40.000000,40.000000
mean,918.925008,64.073338,138.443818,5.338206,151.783727,6.804562,0.064000,208.809927,38.148064
std,3.156724,12.638659,64.940322,4.264926,63.566812,5.177122,0.263145,903.452558,27.156735
min,911.700000,38.138000,40.200000,1.118470,59.500000,1.811921,0.000000,0.000000,8.810402
50%,918.995000,65.714000,165.968204,3.664097,180.200000,5.144962,0.000000,0.000000,28.970000
max,925.960000,86.239751,241.600000,17.873151,265.800000,22.279922,1.530000,5420.000000,91.220000

In [25]:
x_test.dtypes

air_pressure_9am          float64
air_temp_9am              float64
avg_wind_direction_9am    float64
avg_wind_speed_9am        float64
max_wind_direction_9am    float64
max_wind_speed_9am        float64
rain_accumulation_9am     float64
rain_duration_9am         float64
relative_humidity_9am     float64
dtype: object

In [26]:
dtr_hyper=DecisionTreeRegressor(min_samples_split=100,max_depth=5)
#train m,odel
dtr_hyper.fit(x_train,y_train)
#evaluate model
y_pred_with_hyper_parameter=dtr_hyper.predict(x_test)
print(y_pred)
rmse=sqrt(mean_squared_error(y_test,y_pred_with_hyper_parameter))
print("Rmse",rmse)
r_square=r2_score(y_test,y_pred)
print("R Square",r_square)

[43.63        9.6644229  22.18990678 19.68       29.09       20.71
 65.04       46.5        90.99       55.57       24.03       16.45
 47.16       35.18       64.88       17.28116117 51.19       31.97
 52.05       35.52       29.09       54.5        83.17       35.69
 29.09       90.58       14.24       17.42827468 64.52       17.42827468
 14.54       19.04826571 26.94       17.4        15.84956394 12.69854598
 69.19       54.5        14.46       29.09      ]
Rmse 14.448701711019329
R Square 0.6200129637784766

In [28]:
import pickle
pickle.dump(dtr_hyper,open("Decision_tree_model.pkl","wb"))

In [29]:
data["classify"]=data["relative_humidity_3pm"]>=data["relative_humidity_3pm"].median()

In [30]:
data

,number,air_pressure_9am,air_temp_9am,avg_wind_direction_9am,avg_wind_speed_9am,max_wind_direction_9am,max_wind_speed_9am,rain_accumulation_9am,rain_duration_9am,relative_humidity_9am,relative_humidity_3pm,classify
0,0,918.060000,74.822000,271.100000,2.080354,295.400000,2.863283,0.0,0.0,42.420000,36.160000,True
1,1,917.347688,71.403843,101.935179,2.443009,140.471549,3.533324,0.0,0.0,24.328697,19.426597,False
2,2,923.040000,60.638000,51.000000,17.067852,63.700000,22.100967,0.0,20.0,8.900000,14.460000,False
3,3,920.502751,70.138895,198.832133,4.337363,211.203341,5.190045,0.0,0.0,12.189102,12.742547,False
4,4,921.160000,44.294000,277.800000,1.856660,136.500000,2.863283,8.9,14730.0,92.410000,76.740000,True
...,...,...,...,...,...,...,...,...,...,...,...,...
194,194,919.360000,48.740000,280.900000,2.527742,274.800000,3.668582,0.0,70.0,90.700000,70.320000,True
195,195,918.391498,73.168578,181.720758,1.630045,185.877557,2.247384,0.0,0.0,11.814585,18.272918,False
196,196,911.700000,47.804000,190.100000,3.310671,217.700000,4.071231,0.0,0.0,90.090000,54.370000,True
197,197,920.930000,75.434000,40.200000,2.147462,65.100000,2.975130,0.0,0.0,15.090000,14.610000,False
198,198,922.698232,60.274798,137.924942,3.300546,147.139294,5.146778,0.0,0.0,19.818373,19.606938,False

In [31]:
data.dtypes

number                      int64
air_pressure_9am          float64
air_temp_9am              float64
avg_wind_direction_9am    float64
avg_wind_speed_9am        float64
max_wind_direction_9am    float64
max_wind_speed_9am        float64
rain_accumulation_9am     float64
rain_duration_9am         float64
relative_humidity_9am     float64
relative_humidity_3pm     float64
classify                     bool
dtype: object

In [32]:
data["classify"].astype("int64")

0      1
1      0
2      0
3      0
4      1
      ..
194    1
195    0
196    1
197    0
198    0
Name: classify, Length: 199, dtype: int64

In [33]:
y_v1=data["classify"]

In [34]:
x_train,x_test,y_train,y_test=train_test_split(x,y_v1,test_size=0.2,random_state=3243287,shuffle=True)
print(f"x_train{x_train.shape}")
print(f"y_train{y_train.shape}")
print(f"x_test{x_test.shape}")
print(f"y_test{y_test.shape}")

x_train(159, 9)
y_train(159,)
x_test(40, 9)
y_test(40,)

In [35]:
from sklearn.tree import DecisionTreeClassifier

In [36]:
dtc=DecisionTreeClassifier()
dtc.fit(x_train,y_train)
y_dtc_pred=dtc.predict(x_test)
print(y_dtc_pred)

[ True False False False False False  True False  True  True False False
  True  True  True False  True  True  True  True False False  True False
 False  True False False  True False False False False False False False
  True  True False  True]

In [37]:
from sklearn.metrics import classification_report

In [38]:
print(classification_report(y_test,y_dtc_pred))

              precision    recall  f1-score   support

       False       0.74      0.94      0.83        18
        True       0.94      0.73      0.82        22

    accuracy                           0.82        40
   macro avg       0.84      0.84      0.82        40
weighted avg       0.85      0.82      0.82        40